/* media Query */

/* mobile Query */
@media only screen and (max-width: 600px) {
  header {
    min-height: 80vh;
  }
  .navbar {
    display: block;
    margin: 0px 20px;
    padding: 20px 0;
  }
  .logo a {
    display: block;
    text-align: center;
    font-size: 18px;
  }
  nav ul {
    text-align: center;
    padding: 0px;
    margin: 0px 0px 0px 0px;
  }

  nav ul li {
    margin: 10px 0px 10px 28px;
    padding: 6px;
  }

  nav ul li a{
    font-size: 18px;
  }
   nav ul{
        /* display: block; */
        text-align: center;
        position: absolute;
        top: 113px;
        left: 0;
        right: 0;
        background: #000;
        flex-direction: column;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li:last-child{
        padding-bottom: 40px;
    }

    .menu-icon{
        text-align: right;
        display: block;
        color: white;
    }
    .banner{
        flex-direction: column;
        height: auto;
        padding-top: 48px;
        padding-bottom: 0;
    }
    nav{
        padding: 1rem 1rem;
        /* display: block; */
    }
    .banner{
        flex-direction: column;
        height: auto;
        padding-top: 48px;
        padding-bottom: 0;
    }
    nav{
        padding: 1rem 1rem;
        /* display: block; */
    }
    nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: rgb(255, 0, 0);
  display: block;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  cursor: pointer;
}

nav ul li a:hover:after {
  width 
}

nav ul li a:hover {
  color: rgb(255, 0, 0);
}
  .banner {
  text-align: center;
  color: white;
  padding: 214px 0px 100px 0px;
}
.banner h3 {
  margin: 17px 0px 0px 0px;
  font-size: 21px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 10px;
}
.banner span {
  margin: 0px 0px 0px 0px;
  height: 4px;
  width: 144px;
  border-radius: 5px;
  background-color: red;
  display: inline-block;
}
.banner h1 {
  font-weight: 600;
  font-size: 27px;
}

.banner button {
  background-color: red;
  border-radius: 30px;
  padding: 10px 9px;
  font-size: 12px;
  color: white;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.banner button:hover {
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

/*   upcoming events  */

.event h1 {
  font-size: 27px;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: center;
}
.event {
  text-align: center;
}
.event span {
  height: 4px;
  width: 156px;
  border-radius: 5px;
  display: inline-block;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  gap: 27px;
  padding: 30px 40px;
}
.event-pic img {
  width: 100%;
  height: 320px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
.event-pic h3 {
  font-size: 19px;
  font-weight: 600;
  margin: 19px 0px 24px 0px;
  text-transform: uppercase;
}
.event-pic h4 {
  margin: 20px 0px;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
}
.event-pic a {
  text-decoration: none;
  color: red;
  font-size: 17px;
  padding: 13px 0px 20px 0px;

}
.event-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px;
  border-radius: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: block;
}
/* explore */

.explore-world {
  padding: 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  min-height: 35vh;
}

.explore-item {
  width: 50%;
  padding-right: 50px;
  text-align: left !important;
}

.explore-item h3 {
  font-size: 30px;
  margin-bottom: 0;
}

.explore-item span {
  height: 5px;
  width: 100px;
  display: block;
  background-color: red;
  border-radius: 7px;
}

.explore-item p {
  margin: 30px 0;
  font-size: 17px;
}

.explore-item a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 18px;
}
/* tour section */

.tour-main {
  margin: 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
}

.tour-item {
  padding: 0px 8px;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: block;
}

.tour-item h3 {
  font-size: 27px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.tour-item span {
  height: 5px;
  width: 156px;
  display: inline-block;
  background-color: red;
  border-radius: 7px;
}

.tour-item p {
  margin: 40px 0;
  font-size: 16px;
}

.tour-item a {
  display: block;
  text-decoration: none;
  color: red;
  font-size: 17px;
  padding: 0px 0px 29px 0px;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin: 0px 0px 0px 0px;
}

.img1 {
  display: inline-block;
  /* justify-items: center; */
  text-align: center;
  height: 335px;
  -o-object-fit: cover;
  object-fit: fill;
  margin: 0px 0px 10px 0;
  border-radius: 5px;
  padding: 0px -24px 0px 25px;
}

.img2 {
  height: 360px;
  -o-object-fit: cover;
  object-fit: fill;
  margin: 0 0 10px 0;
  border-radius: 5px;
}
/* footer */
footer {
  background-color: rgba(0, 0, 0, 0.877);
  padding: 40px 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 27px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: white;
}
.foot ul li {
  font-size: 16px;
  line-height: 21px;
}
.about ul li a {
  height: 9px;
  width: 9px;
  text-decoration: none;
}
.about h3 {
  font-size: 17px;
}
.about span {
  height: 4px;
  width: 188px;
  display: block;
  border-radius: 7px;
  margin: 0;
}
.media {
  font-size: 30px;
  margin-bottom: 10px;
}
.about ul li h4 {
  margin: 10px 0px;
}
.about p {
  font-size: 16px;
}
.fab {
  margin: 12px;
  font-size: 28px;
  
}

}

/* tab */

@media only screen and (min-width: 601px) and (max-width: 991px) {
  
   header {
    min-height: 90vh;
  }
  .navbar {
    display: block;
    margin: 0px 20px;
    padding: 20px 0;
  }
  .logo a {
    display: block;
    text-align: center;
    font-size: 20px;
  }
  nav ul {
    text-align: center;
    padding: 0px;
    margin: 0px 0px 0px 0px;
  }

  nav ul li {
    margin: 10px 0px 10px 28px;
    padding: 6px;
  }

  nav ul li a{
    font-size: 20px;
  }
   nav ul{
        /* display: block; */
        text-align: center;
        position: absolute;
        top: 113px;
        left: 0;
        right: 0;
        background: #000;
        flex-direction: column;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li:last-child{
        padding-bottom: 40px;
    }

    .menu-icon{
        text-align: right;
        display: block;
        color: white;
    }
    .banner{
        flex-direction: column;
        height: auto;
        padding-top: 48px;
        padding-bottom: 0;
    }
    nav{
        padding: 1rem 1rem;
        /* display: block; */
    }
  .banner {
  text-align: center;
  color: white;
  padding: 200px 0px 100px 0px;
}
.banner h3 {
  margin: 20px 0px 0px 0px;
  font-size: 27px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 10px;
}
.banner span {
  margin: 0px 0px 0px 0px;
  height: 4px;
  width: 180px;
  border-radius: 5px;
  background-color: red;
  display: inline-block;
}
.banner h1 {
  font-weight: 600;
  font-size: 46px;
}

.banner button {
  background-color: red;
  border-radius: 30px;
  padding: 13px 16px;
  font-size: 15px;
  color: white;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.banner button:hover {
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}
/*   upcoming events  */

.event h1 {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: center;
}
.event {
  text-align: center;
}
.event span {
  height: 4px;
  width: 180px;
  border-radius: 5px;
  display: inline-block;
}
.main {
  display: -ms-flexbox;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 34px 56px;
}
.event-pic img {
  width: 98%;
  height: 320px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
.event-pic h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 15px 0px 19px 0px;
  text-transform: uppercase;
}
.event-pic h4 {
  margin: 16px 0px;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
}
.event-pic a {
  text-decoration: none;
  color: red;
  font-size: 19px;
  padding: 4px 0px 20px 0px;
}
.event-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px;
  border-radius: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: block;
}
/* explore */

.explore-world {
  padding: 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  min-height: 46vh;
}

.explore-item {
  width: 50%;
  padding-right: 50px;
  text-align: left !important;
}

.explore-item h3 {
  font-size: 45px;
  margin-bottom: 0;
}

.explore-item span {
  height: 5px;
  width: 140px;
  display: block;
  background-color: red;
  border-radius: 7px;
}

.explore-item p {
  margin: 30px 0;
  font-size: 19px;
}

.explore-item a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 19px;
}
/* tour section */

.tour-main {
  margin: 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tour-item {
  padding: 7px 7px;
}

.tour-item h3 {
  font-size: 37px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.tour-item span {
  height: 5px;
  width: 216px;
  display: block;
  background-color: red;
  border-radius: 7px;
}

.tour-item p {
  margin: 40px 0;
  font-size: 19px;
}

.tour-item a {
  text-decoration: none;
  color: red;
  font-size: 19px;
  padding: 20px 0px 20px 0px;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.img1 {
  height: 350px;
  -o-object-fit: cover;
  object-fit: fill;
  margin: 0 0 10px 0;
  border-radius: 5px;
}

.img2 {
  height: 450px;
  -o-object-fit: cover;
  object-fit: fill;
  margin: 0 0 10px 0;
  border-radius: 5px;
}
/* footer */
footer {
  background-color: rgba(0, 0, 0, 0.877);
  padding: 40px 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 27px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: white;
}
.foot ul li {
  font-size: 19px;
  line-height: 24px;
}
.about ul li a {
  height: 9px;
  width: 9px;
  text-decoration: none;
}
.about h3 {
  font-size: 22px;
}
.about span {
  height: 4px;
  width: 236px;
  display: block;
  border-radius: 7px;
  margin: 0;
}
.media {
  font-size: 30px;
  margin-bottom: 10px;
}
.about ul li h4 {
  margin: 10px 0px;
}
.about p {
  font-size: 18px;
}
.fab {
  margin: 12px;
  font-size: 34px;
}

}

/* tab landscape, Square monitor */
@media only screen and (min-width: 992px) and (max-width: 1023px) {

   header {
    min-height: 100vh;
  }
  .navbar {
    justify-content: space-between;
    /* display: block; */
    margin: 10px 20px;
    padding: 20px 30px;
  }
  .logo a {
    display: block;
    text-align: center;
    font-size: 20px;
  }
  nav ul {
    text-align: center;
    padding: 0px;
    margin: 0px 0px 0px 0px;
  }

  nav ul li {
    margin: 10px 0px 10px 28px;
    padding: 6px;
  }

  nav ul li a{
    font-size: 20px;
  }
   nav ul{
        /* display: block; */
        text-align: center;
        position: absolute;
        top: 113px;
        left: 0;
        right: 0;
        background: #000;
        flex-direction: column;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li:last-child{
        padding-bottom: 40px;
    }

    .menu-icon{
        text-align: right;
        display: block;
        color: white;
    }
  .banner {
  text-align: center;
  color: white;
  padding: 200px 0px 100px 0px;
}
.banner h3 {
  margin: 20px 0px 0px 0px;
  font-size: 29px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 10px;
}
.banner span {
  margin: 0px 0px 0px 0px;
  height: 4px;
  width: 180px;
  border-radius: 5px;
  background-color: red;
  display: inline-block;
}
.banner h1 {
  font-weight: 600;
  font-size: 47px;
}

.banner button {
  background-color: red;
  border-radius: 30px;
  padding: 14px 20px;
  font-size: 14px;
  color: white;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.banner button:hover {
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}
/*   upcoming events  */

.event h1 {
  font-size: 47px;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: center;
}
.event {
  text-align: center;
}
.event span {
  height: 4px;
  width: 180px;
  border-radius: 5px;
  display: inline-block;
}
.main {
  /* display: -webkit-box; */
  display: -ms-flexbox;
  /* display: flex; */
  /* -webkit-box-pack: center; */
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 30px 40px;
}
.event-pic img {
  width: 100%;
  height: 320px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  gap: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
.event-pic h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 15px 0px 19px 0px;
  text-transform: uppercase;
}
.event-pic h4 {
  margin: 16px 0px;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
}
.event-pic a {
  text-decoration: none;
  color: red;
  font-size: 21px;
  padding: 4px 0px 20px 0px;
}
.event-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px;
  border-radius: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: block;
}
/* explore */

.explore-world {
  padding: 85px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  min-height: 55vh;
}

.explore-item {
  width: 50%;
  padding-right: 50px;
  text-align: left !important;
}

.explore-item h3 {
  font-size: 46px;
  margin-bottom: 0;
}

.explore-item span {
  height: 5px;
  width: 142px;
  display: block;
  background-color: red;
  border-radius: 7px;
}

.explore-item p {
  margin: 30px 0;
  font-size: 20px;
}

.explore-item a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 21px;
}
/* tour section */

.tour-main {
  margin: 40px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tour-item {
  padding: 10px 8px;
}

.tour-item h3 {
  font-size: 45px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.tour-item span {
  height: 5px;
  width: 294px;
  display: block;
  background-color: red;
  border-radius: 7px;
}

.tour-item p {
  margin: 40px 0;
  font-size: 20px;
}

.tour-item a {
  text-decoration: none;
  color: red;
  font-size: 21px;
  padding: 20px 0px 20px 0px;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.img1 {
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 0 11px 0;
  border-radius: 5px;
}

.img2 {
  height: 450px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 0 11px 0;
  border-radius: 5px;
}
/* footer */
footer {
  background-color: rgba(0, 0, 0, 0.877);
  padding: 40px 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 27px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: white;
}
.foot ul li {
  font-size: 20px;
  line-height: 25px;
}
.about ul li a {
  height: 9px;
  width: 9px;
  text-decoration: none;
}
.about h3 {
  font-size: 24px;
}
.about span {
  height: 4px;
  width: 251px;
  display: block;
  border-radius: 7px;
  margin: 0;
}
.media {
  font-size: 30px;
  margin-bottom: 10px;
}
.about ul li h4 {
  margin: 10px 0px;
}
.about p {
  font-size: 19px;
}
.fab {
  margin: 12px;
  font-size: 39px;
}



}
  

/* laptop ,small desktop */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
}

/* large laptop,normal monitor*/
@media only screen and (min-width: 1441px) and (max-width: 1600px) {
}

